.body{
    font-family: "Arial";
}



/* Menu area styles (navigation bar) */
.menu-area{
    width: 100%;
    overflow: auto;
    background-color: #2f2f2f;
    font-family: "Arial";
}

.menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.menu-area ul li{
    float: left;

}



.menu-area ul li a{
    width: 110px;
    display: block;
    padding: 15px;
    color: #b9b9b9;
    text-decoration: none;
    font-family: "Arial";
    font-size: 18px;
    text-align: center;

}

.menu-area ul li a:hover{
  color: white;

}

#search-bar
{
    width: 390px;
    padding: 5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    text-align: center;
    margin: 15px;
}



.steam-signon{
    display: block;
    margin-left: auto;
    margin-right: auto;

}







/* Best Deals Grid styles */
.product-grid{
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "Arial";
}
.product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
    position: relative;
    width: 200px;
    height: 120px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(67, 68, 68, 0.7);
}
.image:hover .overlay{
    opacity: 1;
}
.detail{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

a.btn.buy{
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20px;
}
.buy:hover{
    background-color: #434444;
    color: #fff;
}








/* Category grid (dont mind its named best deals grid, pls change this when u have time)*/
.column {
    float: left;
    font-size: 18px;
    font-family: "Arial";
    text-align: center;
}


.best-deals-grid ul li a{
    width: 300px;
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-family: "Arial";
    font-size: 18px;
    text-align: center;

}

.best-deals-grid{
    width: 100%;
    overflow: auto;
    font-family: "Arial";
    align-content: center;
}

.best-deals-grid ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.best-deals-grid ul li{
    float: left;

}

.best-deals-grid ul li a:hover
{
    color: #b9b9b9;

}



/* Ordered list for category pages*/
.category *
{
    margin: 0 auto;
    padding: 0 auto;

}

.category div {
    margin: 20px;
    border-radius: 10px;
}

.category ul {
    list-style-type: none;
    width: 500px;

}

.category h3 {
    font: bold 20px/1.5 "Arial";
}

.category li img {
    float: left;
    margin: 0 15px 0 0;
}

.category li p {
    font: 200 12px/1.5 Avenir, Avenir, serif;
}

.category li {
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
}

.category li:hover {
    background: #eee;
    cursor: pointer;
    border-radius: 10px;
}







/*Styles for Profile.js*/
body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #2f2f2f, #6d6d6d)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     <div class="col-sm-8">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          <div class="card-block">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           <div class="row">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           <div class="col-sm-6">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <p class="m-b-10 f-w-600">Email</p>


















